alembic==1.0.5
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Migrate==2.3.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
happybase==1.1.0
idna==2.7
iexfinance==0.3.5
itsdangerous==1.1.0
Jinja2==2.10
kafka-python==1.4.3
Mako==1.0.7
MarkupSafe==1.1.0
numpy==1.15.4
oauthlib==2.1.0
pandas==0.23.4
ply==3.11
PySocks==1.6.8
python-dateutil==2.7.5
python-editor==1.0.3
pytz==2018.7
PyYAML==3.13
requests==2.20.1
requests-oauthlib==1.0.0
six==1.11.0
SQLAlchemy==1.2.14
thriftpy==0.3.9
tweepy==3.6.0
urllib3==1.24.1
Werkzeug==0.14.1
